.background{
    background-color: white;
    border-style: solid;
    border-color: black;
    border-left-style: dotted;
    border-right-style: dotted;
    height: 400px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    }
.paddle{
    background-color: black;
    height: 60px;
    width: 15px;
    position: absolute;
    }
#rightPaddle{
    position: absolute;
    margin-left: 97%;
    }
#centerline{
    margin-left: auto;
    margin-right: auto;
    height: 99%;
    width:0px;
    border-style: dotted;
    border-color: gray;
    }